body{
  width: 1400px;
  margin: 20px auto !important;
}
@media (max-width: 800px) {
  .css-1rafi8n{
    flex-direction: column !important;
  }
  .css-11ze7cv{
    width: 95% !important;
  }
}
@media (max-width: 500px) {
  body{
    width: 100% !important;
  }
  .css-11ze7cv{
    width: 100% !important;
  }
}